/* ローディング↓ */

#loading {
    background-color: rgba(255,255,255,.5);
    text-align: center;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    color: #fff;
}

.loaded {
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s, visibility 3s;
}

/* ローディング↑ */

body {
    font-family: "Montserrat", "M PLUS 1 Code", monospace, sans-serif;
    background-image: url(../images/top_bg.JPG);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    width: 70px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    display: block;
    margin: 20px 10px;
    padding: 15px 10px;
    color: #327da8;
}

nav li a:hover {
    color: rgba(50, 125, 168, .5);
}

.wrapper {
    margin: 10px 60px;
}

/* index.html↓ */
.top-content {
    text-align: center;
    padding: 100px 0;
    margin: 100px auto;
    width: 400px;
    background-color: #327da8;
    color: #fff;
    border-radius: 60% 40% 79% 21% / 58% 50% 50% 42%;
}

#btn {
    margin-top: 30px;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    position: relative;
}

#btn span {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
}

#btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: #7fa3b8;
    transition: 3s;
    border-radius: 10px;
}

#btn:hover::before {
    right: 0;
}

/* index.html↑ */

/* intro.html↓ */

#basic-info {
    line-height: 2;
    margin-left: 5%;
    max-width: 800px;
}

#table {
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 20px;
}

#table th {
    border-bottom: 1px solid #327da8;
}

#table td {
    display: block;
    margin-left: 30px;
    padding-left: 15px;
    border-bottom: 1px solid #7fa3b8;
}

#intro-detail {
    padding-top: 60px;
    padding-left: 30px;
}

#intro-detail h4 {
    margin-top: 30px;
    border-bottom: 1px solid #7fa3b8;
    display: inline-block;
}

/* intro.html↑ */

/* gallery.html↓ */

#references {
    display: flex;
}

#references img {
    width: 400px;
    height: 250px;
    margin: 15px 15px;
}

/* gallery.html↑ */

/* contact.html↓ */

.contact-content {
    display: flex;
    justify-content: space-evenly;
}
/* contact.html↑ */


/* レスポンシブ↓ */

@media (max-width: 600px) {
    #references {
        flex-direction: column;
        max-width: 100%;
    }
    
    .contact-content {
        flex-direction: column;
    }
    
    #form iframe {
        max-width: 100%;
        margin: 10px 10px;
    }
    
    #instagram {
        margin: 40px 10px 0;
    }
    
    .wrapper {
        margin: 10px 3px;
    }
    
    body {
        width: 95vw;
    }
    
    .intro-content {
        font-size: 0.8rem;
    }
}

/* レスポンシブ↑ */